* {
	margin: 0;
	padding: 0;
}

body {
	/* background: #E9ECF4;
	color: #000; */
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 100%;
	/* max-width: 1000px; */
	/* height: 100vh; */
	/* margin: 5px auto; */
	display: grid;
	/* grid-gap: 10px; */
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .footer {
	/* background: #fff; */
	background: #b9926b;
	padding: 0px;
}

.navbar{
	background: #613421 !important;
}

.contenedor .header {
	background: #613421;
	color: #fff;
	grid-area: header;
}

.logoYmarca{
	display: flex;
	justify-content: space-between;
}
.nav-item:hover{
	border-radius: 5px;
	background-color: #b9926b;
  }

  .navbar-brand{
	font-family:'Pacifico', cursive;
	font-size: 180%;
  }

  .navbar-brand > img{
	width: 7.5%;
  }

 .Newlogo{
	min-width: 50px;
 }

  h5{
	font-family:'Pacifico', cursive;
	font-size: 180%;
  }

.contenedor .contenido {
	grid-area: contenido;
}

.contenedor .footer {
	background: #613421;
	color: #fff;
	grid-area: footer;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}

.contenedor .footer .sm {
	display:flex;
	text-align: center;
	justify-content: space-evenly;
	padding: 10px;
}

#weather{
	margin: 8px;
	/* padding: 10px; */
	font-family:'Pacifico', cursive;
	font-size: 130%;
	color:antiquewhite;
}

.sm {
	margin: 10px;

}

#cr > h6{
	font-size: 12px;
}


.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: whitesmoke !important;
}

.carousel-inner > .carousel-item > img {
	object-fit: scale-down !important;
	height: 74vh !important;
	width: 100% !important;
  }

@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 	"contenido contenido contenido"
						 	"footer footer footer";
	}
}


.contenedor-nosotros {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contenedor-nosotros h2 {
	color: #613421;
	font-size: 3rem;
	margin: 21px;
	text-align: center;
}


.mision {
	background-color: #613421;
	color: antiquewhite;
	margin: 50px auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 .3rem 3rem #b9926b;
}

.seccion {
	display: flex;
	justify-content: space-between;
	margin: 30px auto;
}

.cafe {
	background-color: #b9926b;
	margin: auto;
	padding: 20px;
	width: 50%;
	border-radius: 10px;
	text-align: center;
}


.personal {
	background-color: bisque;
	margin: 50px auto 70px;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}


.granoscafe {
	margin: auto;
}

.cafe-imagen {
	margin: auto;
}

.contenedor-footer {
	background: #613421;
	color: #fff;
	grid-area: footer;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}

@media screen and (max-width: 768px) {

	.seccion {
		display: flex;
		flex-wrap: wrap;
	}

	.granoscafe {
		transform: translateX(100px);
		transition: transform 5s;
	}

	.cafe-imagen {
		transform: translateX(-100px);
		transition: transform 5s;
		transition-delay: 5s;
	}

	.cafe {
		width: auto;
	}
}
/* Comienzo del Main */

.contenedor-menu{
	background-color: #fff;
}

.menu-cafe { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	justify-content: baseline;

}
.cafe-h2{
	
    display: block;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
 
	margin: 30px;
}
.comida { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	justify-content: baseline;
}
.comida-h2{
	
    display: block;
	font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
	margin: 30px;
}

.sandwichs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	justify-content: baseline;
}
.sandwichs-h2 {
	display: block;
	font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 30px;

}

.card {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
    background-color: #b9926b;
	border-radius: 100%;
	width: 250px;
	height:200px;
}

.menu_card{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.cafe-h5 {display: flex;
	
}
.img-card {


	height: 200px;
  }

.img-card:hover {
	border: 10px solid transparent;
 }
  

.comida-h2 {
	margin-top: 40px;
  }

  .comida {
	margin-bottom: 100px;
  }

hr {
	margin: 30px;
}

